/*===================
Global Styles
=====================*/
:root{
    --primary-color:#0077B6;
    --secondary-color:#023E8A;

    --background-color:#ffffff;
    --section-background:#f8f9fa;

    --text-color:#333333;
    --secondary-text:#555555;

    --card-background:#ffffff;

    --shadow:0 5px 15px rgba(0,0,0,0.1);
    --hover-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.dark-mode{
    /* Brand Colors */
    --primary-color:#4CC9F0;
    --secondary-color:#90E0EF;
    /* background */
    --background-color:#121212;
    --card-background:#1E1E1E;
    --section-background:#181818;
    /* Text */
    --text-color:#F5F5F5;
    --secondary-text:#CFCFCF;
    /* shadow */
    --shadow:0 5px 15px  rgba(0,0,0,0.4);
    --hover-shadow:0 5px 15px  rgba(0,0,0,0.5);

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* Scroll Progress Bar */

#progress-bar{

    position:fixed;

    top:0;
    left:0;

    width:0%;
    height:4px;

    background:linear-gradient(
        90deg,
        #0077B6,
        #00B4D8
    );

    z-index:9999;

    transition:width .15s linear;

}
/*===================
Navigation bar
====================*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: var(--card-background);
    position: sticky;
    top:0;
    z-index:1000;
}
.logo{
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--primary-color);

}
nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    transition: 0.3s;
}

nav ul li a:hover{
    color: var(--primary-color);

}

.cursor{
    color: var(--primary-color);
    animation: blink 0.8s infinite;
}

@keyframes blink{
    50%{
        opacity:0;
    }
}
.hero{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    position:relative;
    overflow:hidden;
}
.hero-left{
    width: 48%;
    z-index: 2;
}
.hero-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hero-intro{
    color:var(--secondary-text);
    letter-spacing: 4px;
    font-size: 18px;
    margin-bottom: 20px;
}
.hero h1{
    font-size:70px;
    line-height:1;
    margin-bottom:20px;
    color: var(--primary-color);
}
.hero h2{
    color:var(--primary-color);
    font-size:36px;
    margin-bottom:25px;
}

.hero-globe{
    position: relative;
    width: 480px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-globe::before{
content:"";
position:absolute;
width:550px;
height:550px;
background:
radial-gradient(circle,
rgba(0,119,182,.18),
transparent 70%);
z-index:-1;
}
.hero-globe img{
    width: 380px;
    height: 380px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow:  0 0 80px rgba(0,119,182,.35);
    animation: floatEarth 8s ease-in-out infinite;
    filter:drop-shadow(0 0 25px rgba(0,119,182,.4));
    mix-blend-mode:multiply;
    background: transparent;
}
@keyframes floatEarth{
0%{
    transform: translateY(0px);
}
50%{
    transform: translateY(-15px);
}
100%{
    transform: translateY(0px);
}
}
.orbit{
    position: absolute;
    border: 2px solid rgba(0,119,182,.15);
    border-radius: 50%;
}
.orbit1{
    width: 400px;
    height: 400px;
    animation: rotateOrbit 25s linear infinite;
}
.orbit2{
    width: 460px;
    height: 460px;
    animation: rotateOrbit 40s linear infinite;
}
@keyframes rotateOrbit{
    from{
transform:rotate(0deg);
}

to{
transform:rotate(360deg);
}

}
@keyframes rotateOrbitReverse{
from{
transform:rotate(360deg);
}
to{
transform:rotate(0deg);
}
}

.icon{

    position:absolute;
    color:#00B4D8;
    font-size:30px;
    animation:floating 4s ease-in-out infinite;

}
@keyframes floating{

0%{
transform:translateY(0px);
}
50%{
transform:translateY(-10px);
}
100%{
transform:translateY(0px);
}
}

.satellite{
top:0%;
left:50%;
animation:floating 6.5s infinite ease-in-out;
}
.layers{
bottom:8%;
right:22%;
animation:floating 6s ease-in-out infinite;

}
.location{
bottom:18%;
left:12%;
animation:floating 7s ease-in-out infinite;
}
.globe-icon{
top:45%;
right:5%;
animation:floating 8s ease-in-out infinite;
}
.compass{
    top:35%;
    left:5%;
    transform:translateY(-50%);
    animation:floating 9s ease-in-out infinite;
}
.hero-description{
    font-size:20px;
    line-height:1.8;
    max-width:550px;
    margin-bottom:35px;
    color: var(--secondary-text);
}
.hero-image{
    width: 300px;
    height:300px;
    display:flex;
    border-radius: 50%;
    justify-content: center;
    object-fit: cover;
}
.image-placeholder{
    width: 300px;
    height: 300px;
    border: 3px dashed var(--primary-color);
    border-radius: 20px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    font-weight: bold;
}
.hero-buttons{
    display: flex;
    gap:20px;

}
.btn-primary{
    background-color: var(--primary-color);
    color:var(--card-background);
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration:none;
}
.btn-primary:hover{
    transform: translateY(-3px);
    box-shadow: var(--hover-shadow);
}
.btn-secondary{
    border: 2px solid var(--primary-color);
    color:var(--primary-color);
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    
}
/*-----------About Section----------*/
.about{
    padding:80px 60px;
}
.about h3{
    text-align:center;
    font-size:2.5rem;
    margin-bottom: 50px;
    color:var(--primary-color);
}
.about-content{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:50px;
    color:var(--secondary-text);

}
.about-image{
    width:35%
}
.about-image img{
    border-radius: 20px;
    box-shadow: var(--shadow);
}
.about-text{
    width:65%;
    line-height: 1.8;
}
.about-placeholder{
    height:300px;
    border:3px dashed var(--primary-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
/*------Skils-----*/
.skills{
    padding: 100px 60px;
}
.skills h3{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color:var(--secondary-text);

}
.skills-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.skills-category h4{
    color: var(--primary-color);
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.4rem;
}
.skills-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}
.skill-card{
    padding:15px 25px;
    border:2px solid var(--primary-color);
    border-radius: 30px;
    font-weight: 600;
    transition: 0.3s ease,
                background-color 0.3s ease,
                color 0.3s ease,
                box-shadow 0.3s ease;
    cursor: pointer;
    background: var(--card-background);
    color: var(--secondary-text);
}
.skill-card:hover{
    background-color: var(--primary-color) ;
    transform: scale(1.05);
    color: var(--card-background);
    box-shadow:0 8px 20px rgba(0,0,0,0.2)
}

/*----Projects-----*/
.projects{
    padding:80px 60px;
    
}
.projects h3{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
    color:var(--primary-color);
}
.project-grid{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:40px;
}
.project-image{
    overflow:hidden;
}
.project-card{
    background: var(--card-background);
    border-radius: 15px;
    overflow:hidden;
    transition:0.3s;
    box-shadow:var(--shadow);
    color: var(--secondary-text);
}
.project-placeholder{
    color:#666;
    font-weight:bold;
}
.project-content{
    padding:25px;
}
.project-content h4{
    margin-bottom:15px;

}
.project-content p{
    line-height: 1.7;
    margin-bottom: 20px;
}
.project-skills{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    margin-bottom: 25px;
}
.project-skills span{
    background: #eef6fb;
    color:var(--primary-color);
    padding:8px 15px;
    border-radius: 20px;
    font-size:0.9rem;
}
.project-card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 30px rgba(0,0,0,0.2);
}
.project-image img{
    width: 100%;
    height:220px;
    object-fit: cover;
    display:block;
}
.project-buttons{
    display: flex;
    gap:15px;
}
/*-------Experience-------*/
.experience{
    padding: 80px 60px;
}
.experience h3{
    text-align:center;
    font-size:2.5rem;
    margin-bottom:60px;
    color: var(--primary-color);
}
.timeline{
    position:relative;
    max-width:900px;
    margin:auto;
}
.timeline-item{
    display:flex;
    gap:40px;
    margin-bottom:60px;
    align-items:center;
    position:relative;
    margin-bottom:60px;
}
.timeline-date{
    font-weight:bold;
    color:var(--primary-color);
    width:150px;
    text-align:right;
    padding-right:40px;
    position: relative;
    top:-55px;

}
.timeline::before{
    content:"";
    position:absolute;
    left:120px;
    top:0;
    width:3px;
    height:100%;
    background:linear-gradient(
        to bottom,
        var(--primary-color),
        var(--secondary-color)
    );
}
.timeline-item::before{
    content:"";
    position:absolute;
    left:115px;
    top:25px;
    width:5px;
    height:5px;
    border-radius:50%;
    background:white;
    border:4px solid var(--primary-color);
}
.timeline-item:hover::before{
    transform:scale(1.25);
    background:var(--secondary-color);
}
.timeline-content{
    background:var(--card-background);
    padding: 25px;
    border-radius: 12px;
    box-shadow: var(--shadow);
    flex:1;
    color: var(--secondary-text);
    margin-left:70px;
}
/*----------Contact---------*/
.contact h3{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--primary-color);}

.contact h4{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--primary-color);
}
.contact-description{
    text-align: center;
    max-width: 700px;
    margin:0 auto 50px;
    line-height: 1.7;
    color:var(--secondary-text);
}
.contact-card i{
    font-size:2rem;
    color:var(--primary-color);
    margin-bottom:15px;
    transition:0.3s;
    box-shadow: var(--shadow);

}
.icon{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:15px;
}
.contact-grid{
    display:flex;
    justify-content: center;
    gap:20px;
    flex-wrap: wrap;
}
.contact-card{
    flex:1;
    min-width:220px;
    max-width:280px;
    padding:25px;
    background: var(--card-background);
    border-radius: 15px;
    box-shadow: var(--shadow);
    align-items: center;
    transition:0.3s;
}
.contact-card:hover{
    transform:translateY(-8px);
    box-shadow: var(--hover-shadow);
}
.menu-btn{
        display:none;
        background: none;
        border:none;
        font-size:2rem;
        cursor:pointer;
}
/* Certifications and Trainings */
.certifications{
    padding:80px 60px;
}
.certifications h3{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
    color:var(--primary-color)
}
.certifications-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
}
.certification-card{
    background: var(--card-background);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: var(--shadow);
    transition:0.3s;
    color:var(--secondary-text)
}
.certification-card:hover{
    transform:translateY(-8px);
    box-shadow: var(--hover-shadow);
}
.certification-img img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}
.certificate-content{
    padding:20px;
    text-align: center;
}
.certificate-content h4{
    color: var(--primary-color);
    margin-bottom: 10px;
}
.certificate-content p{
    margin-bottom: 20px;
}
.certificate-btn{
    display:inline-block;
    text-decoration:none;
    padding:10px 20px;
    border-radius: 25px;
    background: var(--primary-color);
    color: var(--card-background);
    transition: 0.3s;
}
.certificate-btn:hover{
    background: var(--secondary-color);
}
/* Footer */
.footer{
    background: var(--secondary-color);
    color: var(--card-background);
    text-align: center;
    padding:40px 20px;
}
.footer h3{
    font-size: 2rem;
    margin-bottom: 10px;
}
.footer-text{
    margin-bottom: 25px;
    opacity: 0.9;
}
.footer-icons{
    display:flex;
    justify-content: center;
    gap:25px;
    margin-bottom: 25px;
}
.footer-icons a{
    color:var(--card-background);
    font-size: 1.5rem;
    transition: 0.3s ease;
}
.footer-icons a:hover{
    color:var(--secondary-color);
    transform:translateY(-3px);    
}
.copyright{
    font-size: 0.9rem;
    opacity: 0.8;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid rgba(255,255,255,0.2);
}
/*----Responsive Design----*/
@media(max-width:768px){
    nav{
        flex-direction:column;
        gap:20px;
        padding:20px;
    }

    .hero{
        flex-direction:column;
        text-align:center;
        padding:60px 30px;
    }
    .hero-content,.hero-image{
        width:100%;
    }
    .about-content{
        flex-direction: column;
    }
    .project-grid{
        grid-template-columns: 1fr;

    }
    .menu-btn{
        display: block;
    }
    .nav-links{
        display: none;
    }
    .nav-links.active{
        display: flex;
        padding: 20px;
        flex-direction: column;
        position: absolute;
        top:70px;
        right:20px;
        background: var(--card-background);
        border-radius: 10px;
        box-shadow: var(--hover-shadow);
    }
}

body{
    font-family:'Poppins',sans-serif;
    background: var(--background-color);
    background-image:

     linear-gradient(rgba(0,119,182,.06) 1px, transparent 1.5px), 

    linear-gradient(90deg, rgba(0,119,182,.06) 1px, transparent 1.5px); 

    background-size:50px 50px;
    }
#theme-toggle{
    background:none;
    border:none;
    font-size: 1.4rem;
    cursor:pointer;
    transition: transform 0.3s ease;
}

#theme-toggle:hover{
    transform: rotate(20deg);
}